@media (min-width: 576px) {
  .socialIcons {
    text-align: right;
  }
}

.socialIcon svg {
  width: 16px;
  height: 16px;
  margin: 0 0.5rem;
}

.footer {
  color: #999;
  margin-top: 2em;
  padding: 2.5em;
  border-top: 0.05rem solid #e5e5e5;
}
